Screen {
    layout: grid;
    grid-size: 2 2;
    grid-columns: 7fr 3fr;
    grid-rows: 1fr auto;
}

#messages {
    row-span: 1;
    column-span: 1;
    border: solid $surface-lighten-2;
    padding: 1;
}

#agents {
    row-span: 1;
    column-span: 1;
    border: solid $surface-lighten-2;
    padding: 1;
}

InputArea {
    column-span: 2;
}
