Screen {
    layout: grid;
    grid-size: 2 2;
    grid-columns: 7fr 3fr;
    grid-rows: 1fr auto;
    background: transparent;
}

Header {
    background: transparent;
}

Footer {
    background: transparent;
}

#messages {
    row-span: 1;
    column-span: 1;
    padding: 1;
}

#agents {
    row-span: 1;
    column-span: 1;
    padding: 1;
}

InputArea {
    column-span: 2;
}

InputArea TextArea {
    min-height: 1;
    max-height: 10;
}
